nav{
    display: flex;
    text-align: center;
    justify-content: center;
    ul{
        display: flex;
        list-style: none;
        justify-content: center;
        li{
            margin: 10px;
            font-size: 18px;
            a{
                text-decoration: none;
                &:hover{
                    color: #ff0000;
                }
            }
        }
    }
}