$primary-ground-color: rgb(108, 156, 245);
$main-font-size: 18px;
$main-text-margin: 10px;
$hover-color: #ff0000;

nav{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: $primary-ground-color;
    ul{
        display: flex;
        list-style: none;
        justify-content: center;
        li{
            margin: $main-text-margin;
            font-size: $main-font-size;
            a{
                text-decoration: none;
                &:hover{
                    color: $hover-color;
                }
            }
        }
    }
}