.container{
    display: block;
    position: relative;
    margin: auto;
    border: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 10%;
    height: 5%;
    background-color: aqua;
}
.px-container{
    width: 100px;
    height: 100px;
    background-color: blue;
}
.size{
    font-size: 5px;
}
.rem{
    font-size: 7rem;
}
.em{
    font-size: 7em;
}