*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10%;
    text-align: center;
}
p{
    color: pink;
    text-align: right;
}
h1{
    color: aqua;
}
h2{
    color: violet;
}
h3{
    color: blue;
}
h4{
    color: yellow;
}
#background{
    color: green;
    background-color: aquamarine;
}
h6{
    color: red;
} 
.text{
    font-size: 30px;
}
.bgcolor {
    border: 2px;
    border-radius: 5px;
    background-color: brown;
}
.colors{
    border: 2px;
    border-radius: 5px;
    background-color: orangered;
    color: orange;
}
.flowerimg{
    border: 2px;
    border-radius: 5px;
}