.flex-container{
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}
div{
    background-color: antiquewhite;
    padding: 20px;
    border: 5px solid black;
}
.item-1{
    flex-grow: 1;
}
.item-2{
    flex-grow: 1;
}
.item-3{
    flex-grow: 8;
}