.grid-container{
    display: grid; 
    grid-template-columns: 50px 50px 50px;
    gap: 5px;
    background-color: pink;
    padding: 10px;
    justify-content: center;
}
.grid-container div{
    background-color: white;
    border: 1px solid purple;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
@media screen and (max-width: 768px){
    body {
      background-color: blue;
    }
}    
.item8{
    grid-column: span 2;
}
.item9{
    display: none;
}
.item1{
    grid-row: span 4;
}
.item4{
    display: none;
}